html,body {
	height: 100%;
	background-color: #000000;
    color: #00ff00;
}

.timespan_cell {
	vertical-align: top;
	color: #ff0000;
}

.message_cell {
	display: inline-block;
}

.platform_cell {
	vertical-align: top;
	text-align: center;
	padding-left: 10px;
}

.user_cell {
	vertical-align: top;
	padding-right: 15px;
}

#user_table {

}

#chat_table {
	overflow: hidden;
	word-wrap: break-word;
	table-layout: fixed;
	margin-left: 2.5%;
	margin-right: 15%;
}

#user_container {
	padding-left: 5px;
	padding-right: 5px;
 	border: 1px dashed;
	position: fixed;
	right: 5px;
	background-color: #44404C;
	width: 15%;
	height: 100%;
}

#chat_container {
	background-color: #000000;
    color: #00ff00;
	padding-bottom: 20px;
	width: 75%;
	overflow-x: hidden;
}

#message_container {
	position: fixed;
	bottom: 2px;
	left: 5px;
	width: 100%;
	height: 20px;
}

#message {
	width: 50%;
}